@page
@model IndexModel
@{
    ViewData["Title"] = "Прогноз погоды";
}

<h1>Прогноз погоды</h1>

<form method="get">
    <label for="city">Введите название города:</label>
    <input type="text" id="city" name="city" />
    <button type="submit">Поиск</button>
</form>

<!-- Меню для выбора дождя -->
<h3>Есть ли у вас сейчас дождь?</h3>
<div>
    <!-- Кнопка "Да" -->
    <a href="#" id="rainYes" onclick="changeButtonColor('yes')" style="display: inline-block; padding: 20px 30px; background-color: gray; color: white; text-decoration: none; margin-right: 20px; font-size: 18px; text-transform: uppercase; border-radius: 5px;">
        Да
    </a>
    <!-- Кнопка "Нет" -->
    <a href="#" id="rainNo" onclick="changeButtonColor('no')" style="display: inline-block; padding: 20px 30px; background-color: gray; color: white; text-decoration: none; font-size: 18px; text-transform: uppercase; border-radius: 5px;">
        Нет
    </a>
</div>

@if (Model.WeatherData != null)
{
    <h2>Погода в городе @Model.WeatherData.Name</h2>

    @if (Model.WeatherData.ForecastList != null)
    {
        <h2>Прогноз на сегодня, завтра и послезавтра:</h2>
        <div style="display: flex; gap: 20px; justify-content: center;">
            @foreach (var forecast in Model.WeatherData.ForecastList.Where(f => f.Dt_Txt.Contains("12:00:00")).Take(3))
            {
                <div style="flex: 1; text-align: center; background: rgba(0, 0, 0, 0.5); padding: 29px; border-radius: 10px;">
                    <p>Дата: @forecast.Dt_Txt</p>
                    <p>Температура: @forecast.Main.Temp °C</p>
                    <p>Состояние: @forecast.Weather[0].Description</p>
                    <div icon="@Model.GetWeatherIcon(forecast.Weather[0].Description)" data-label="@forecast.Weather[0].Description"></div>
                </div>
            }
        </div>
    }
}
else if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red;">@Model.ErrorMessage</p>
}

<!-- Скрипт для изменения цвета кнопок -->
<script>
    function changeButtonColor(answer) {
        var yesButton = document.getElementById("rainYes");
        var noButton = document.getElementById("rainNo");

        if (answer === 'yes') {
            yesButton.style.backgroundColor = "green"; // Зеленый для "Да"
            noButton.style.backgroundColor = "gray";  // Серый для "Нет"
        } else if (answer === 'no') {
            noButton.style.backgroundColor = "red"; // Красный для "Нет"
            yesButton.style.backgroundColor = "gray"; // Серый для "Да"
        }
    }
</script>
