@page
@model IndexModel
@{
    ViewData["Title"] = "Прогноз погоды";
}

<h1>Прогноз погоды</h1>

<form method="get">
    <label for="city">Введите название города:</label>
    <input type="text" id="city" name="city" />
    <button type="submit">Поиск</button>
</form>

@if (Model.WeatherData != null)
{

    <h2>Погода в городе @Model.WeatherData.Name</h2>

    @if (Model.WeatherData.ForecastList != null)
    {
        <h2>Прогноз на сегодня, завтра и послезавтра:</h2>
        <div style="display: flex; gap: 20px; justify-content: center;">
            @foreach (var forecast in Model.WeatherData.ForecastList.Where(f => f.Dt_Txt.Contains("12:00:00")).Take(3))
            {
                <div style="flex: 1; text-align: center; background: rgba(0, 0, 0, 0.5); padding: 29px; border-radius: 10px;">
                    <p>Дата: @forecast.Dt_Txt</p>
                    <p>Температура: @forecast.Main.Temp °C</p>
                    <p>Состояние: @forecast.Weather[0].Description</p>
                    <div icon="@Model.GetWeatherIcon(forecast.Weather[0].Description)" data-label="@forecast.Weather[0].Description"></div>
                </div>
            }
        </div>
    }
}
else if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red;">@Model.ErrorMessage</p>
}